@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fde100;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

li:hover {
  transform: scale(1.2);
  border-bottom: 2px solid #000;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px;
}

.header_logo {
  font-family: Gruppo, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.header_link {
  font-family: Gruppo, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.header_link:hover {
  transform: scale(1.5);
}

.jumbotron {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8em 0;
}

.left_side_jumbo {
  display: flex;
  flex-direction: column;
  max-width: 25em;
}

.sign_up_btn {
  background-color: #000;
  color: #fde100;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 8px;
}

.panoramic {
  border-radius: 8px;
}
