@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fde100;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

li:hover {
  transform: scale(1.2);
  border-bottom: 2px solid #000;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px;
}

.header_logo {
  font-family: Gruppo, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.header_link {
  font-family: Gruppo, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.header_link:hover {
  transform: scale(1.5);
}

.jumbotron {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8em 0;
}

.left_side_jumbo {
  display: flex;
  flex-direction: column;
  max-width: 25em;
}

.sign_up_btn {
  background-color: #000;
  color: #fde100;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 8px;
}

.panoramic {
  border-radius: 8px;
  border: 5px solid #000;
}

.info_heading {
  text-align: center;
  font-family: Gruppo, sans-serif;
  font-size: 2.5rem;
}

.images_section {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  color: #fde100;
}

.images_section img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-top: 2em;
  border: 3px solid #fde100;
}

.image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.quote_section {
  height: 60vh;
  padding: 3em 20em;
}

.quote_section h2 {
  font-style: italic;
}

.fa-quote-left,
.fa-quote-right {
  display: block;
  font-size: 5rem;
  opacity: 0.7;
}

.fa-quote-right {
  text-align: right;
}

figcaption {
  text-align: right;
  padding-right: 10em;
}

figcaption::before,
figcaption::after {
  content: ' ';
  width: 25px;
  height: 2px;
  margin: 0 10px;
  background-color: #000;
  display: inline-block;
  vertical-align: middle;
}

.call_to_action {
  height: 50vh;
  background-color: #000;
  color: #fde100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta_wrapper {
  border: 3px solid #fde100;
  max-height: 8em;
  padding: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.newsletter_btn {
  border: 2px solid #fde100;
  background-color: #fde100;
  color: #000;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 1.5rem;
}

.text_cta p {
  max-width: 250px;
}

.text_cta h3 {
  font-size: 2rem;
  font-family: Gruppo, sans-serif;
  margin-bottom: 0.5em;
}

.footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
